# BUILDING A MODEL FOR CAR DEKHO DATASET

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [2]:
EDA_File=pickle.load(open('EDA_CarDekho.pkl','rb'))

In [3]:
EDA_File

,year,selling_price,km_driven,owner,mileage,engine,max_power,seats,price_Diff,transmission,Seller_Dealer,Seller_Individual,Seller_Trustmark Dealer,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol
0,-3,450000,145500,1,23.40,1248,74.00,5.0,-304500,1,0,1,0,0,1,0,0
1,-3,370000,120000,2,21.14,1498,103.52,5.0,-250000,1,0,1,0,0,1,0,0
2,5,158000,140000,3,17.70,1497,78.00,5.0,-18000,1,0,1,0,0,0,0,1
3,1,225000,127000,1,23.00,1396,90.00,5.0,-98000,1,0,1,0,0,1,0,0
4,4,130000,120000,1,16.10,1298,88.20,5.0,-10000,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,-2,320000,110000,1,18.50,1197,82.85,5.0,-210000,1,0,1,0,0,0,0,1
8124,4,135000,119000,4,16.80,1493,110.00,5.0,-16000,1,0,1,0,0,1,0,0
8125,2,382000,120000,1,19.30,1248,73.90,5.0,-262000,1,0,1,0,0,1,0,0
8126,-2,290000,25000,1,23.57,1396,70.00,5.0,-265000,1,0,1,0,0,1,0,0
8127,-2,290000,25000,1,23.57,1396,70.00,5.0,-265000,1,0,1,0,0,1,0,0

In [4]:
 x =  EDA_File[['year','km_driven', 'owner', 'mileage', 'engine', 'max_power','seats','price_Diff',
            'transmission', 'Seller_Dealer', 'Seller_Individual', 'Seller_Trustmark Dealer', 
            'fuel_CNG', 'fuel_Diesel', 'fuel_LPG', 'fuel_Petrol']]

In [5]:
y=EDA_File['selling_price']

In [6]:
x

,year,km_driven,owner,mileage,engine,max_power,seats,price_Diff,transmission,Seller_Dealer,Seller_Individual,Seller_Trustmark Dealer,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol
0,-3,145500,1,23.40,1248,74.00,5.0,-304500,1,0,1,0,0,1,0,0
1,-3,120000,2,21.14,1498,103.52,5.0,-250000,1,0,1,0,0,1,0,0
2,5,140000,3,17.70,1497,78.00,5.0,-18000,1,0,1,0,0,0,0,1
3,1,127000,1,23.00,1396,90.00,5.0,-98000,1,0,1,0,0,1,0,0
4,4,120000,1,16.10,1298,88.20,5.0,-10000,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,-2,110000,1,18.50,1197,82.85,5.0,-210000,1,0,1,0,0,0,0,1
8124,4,119000,4,16.80,1493,110.00,5.0,-16000,1,0,1,0,0,1,0,0
8125,2,120000,1,19.30,1248,73.90,5.0,-262000,1,0,1,0,0,1,0,0
8126,-2,25000,1,23.57,1396,70.00,5.0,-265000,1,0,1,0,0,1,0,0
8127,-2,25000,1,23.57,1396,70.00,5.0,-265000,1,0,1,0,0,1,0,0

In [7]:
y

0       450000
1       370000
2       158000
3       225000
4       130000
         ...
8123    320000
8124    135000
8125    382000
8126    290000
8127    290000
Name: selling_price, Length: 7906, dtype: int64

# test on new data
REGRESION MODEL

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.2,random_state=40)

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score

In [10]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
def prediction(classifier):
    
    # training the classifier on the dataset
    classifier.fit(X_train, y_train)
    
    #Do prediction and evaluting the prediction
    prediction = classifier.predict(X_test)
    cross_validation_score = cross_val(X_train, y_train, classifier)
    error = mean_absolute_error(y_test, prediction)
    return error, cross_validation_score

def cross_val(xtrain, ytrain, classifier):
    
    # Applying k-Fold Cross Validation
    accuracy = cross_val_score(estimator = classifier, X = xtrain, y = ytrain, cv = 5)
    return accuracy.mean()

# LINEAR REGRESSION

In [14]:
model_1 = LinearRegression()
error, score = prediction(model_1)

print('Linear Regression MAE: {}'.format(round(error,2)))
print('Cross validation score: {}'.format(round(score,2)))

Linear Regression MAE: 0.0
Cross validation score: 1.0

In [15]:
model_1.fit(X_train, y_train)

LinearRegression()

In [16]:
mean_absolute_error(y_train, model_1.predict(X_train))

7.994165043196371e-10

In [17]:
mean_absolute_error(y_test, model_1.predict(X_test))

7.885261574187863e-10

In [18]:
model_1.coef_

array([ 3.10357741e-10,  5.56058287e+04,  1.99157855e-10,  2.12176846e-11,
        5.55375438e-10,  5.08041349e-11, -2.75753150e-10, -8.28598671e+05,
       -2.83396209e-10, -1.11555174e+05, -1.20934761e+05, -5.54891991e+04,
        8.67237040e+02,  5.02881022e+03,  6.58357146e+02,  5.01690422e+03])

# DECISION TREE REGRESSION

In [20]:
model_2 = DecisionTreeRegressor()
error, score = prediction(model_2)

print('Decision Tree Regressor MAE: {}'.format(round(error,2)))
print('Cross validation score: {}'.format(round(score,2)))

Decision Tree Regressor MAE: 5140.84
Cross validation score: 1.0

# RANDOM FOREST REGRESSION

In [21]:
model_3 = RandomForestRegressor()
error, score = prediction(model_3)

print('Random Forest Regressor MAE: {}'.format(round(error,2)))
print('Cross validation score: {}'.format(round(score,2)))

Random Forest Regressor MAE: 3341.27
Cross validation score: 1.0

In [23]:
best_model = RandomForestRegressor(n_estimators=300,
                                  min_samples_split=10,
                                  min_samples_leaf=1,
                                  max_features='sqrt',
                                  max_depth=60,
                                  bootstrap=False)

error, score = prediction(best_model)
print('Random Forest with hyperparameter tuning MAE: {}'.format(round(error,2)))
print('Cross validation score: {}'.format(round(score,2)))

Random Forest with hyperparameter tuning MAE: 21379.13
Cross validation score: 0.99

In [24]:
pickle.dump(best_model, open('rfr_model.pkl', 'wb'))